<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easyspeak"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_tests"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.easyspeak.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.easyspeak.DeThiActivity"
            android:label="@string/title_activity_de_thi" >
        </activity>
        <activity
            android:name="com.easyspeak.ThiActivity"
            android:label="@string/title_activity_thi" >
        </activity>
        <activity
            android:name="com.easyspeak.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.easyspeak.QuaTrinhHocActivity"
            android:label="@string/title_activity_qua_trinh_hoc" >
        </activity>
        <activity
            android:name="com.easyspeak.CapNhatActivity"
            android:label="@string/title_activity_cap_nhat" >
        </activity>
        <activity
            android:name="com.easyspeak.LienHeActivity"
            android:label="@string/title_activity_lien_he" >
        </activity>
    </application>

</manifest>